@media screen and (max-width: 480px) {
    .credit, .legals {
        text-align: center
   }
   .wrapper {
       background: #f3f5f8;
       height: 640px
  }
  .fluid-white, .iphone {
      display: none
 }
 .light-box, .wp2, .wp4, .wp5 {
     margin-bottom: 30px
}
.legals {
    margin: 0;
    padding: 0
}

.subscribe input[type=email], .subscribe input[type=text], .subscribe textarea {
    width: 100%;
}

}
@media screen and (max-width: 1024px) {
    .wp3 {
        background-position: 50px 0
   }
   .subscribe, .swag {
       background-attachment: scroll
  }
}
@media screen and (max-width: 1280px) {
    .wp3 {
        background-position: 50px 0
   }
}
@media screen and (min-width: 480px)and (max-width: 991px) {
    .credit, .legals {
        text-align: center
   }
   .fluid-white, .iphone {
       display: none
  }
  .wrapper {
      background: #f3f5f8;
      height: 540px
 }
 .light-box, .wp2, .wp4, .wp5 {
     margin-bottom: 30px
}
.legals {
    margin: 0;
    padding: 0
}
}